.header-logo {

}

.header-logo img {
    margin-top: 0;
    width: 40%;
}

.menu-list {
    margin-left: -15% !important;
}

.active {
    background-color: #DDD;
    text-decoration: underline;
}

.navbar-right-btn {
   margin-right: 5px;
}